body {
  background: #eee;  
}

:global {
  .title {    
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }
  .title_center {
    background: #3f51b5;
  }
  .title_prize {
    background: #e91e63;
  }
}

